@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

input,
form,
button,
fieldset,
legend,
output {
  font: inherit;
}

.container {
  width: min(100% - 2rem, 56.25rem);
  margin-inline: auto;
}

:where(form, fieldset) > *:where(:not(:first-child)) {
  margin-top: 0.5rem;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

@media (min-width: 50em) {
  .grid--col-2 {
    --gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

code {
  font-size: 1.2rem;
  font-weight: 700;
}

fieldset {
  width: min(100%, 30rem);
  margin-inline: auto;
  padding: 1rem;
}

label {
  display: block;
}

input {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

output {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
